@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #121212;
  --secondary: #fefefe;
  --background: #f9f9f9;
  --foreground: #f9f9f9;
  --main: #444444;
  --muted: #777;
  --line: #ededed;
}

.dark {
  --primary: #fefefe;
  --secondary: #212121 ;
  --background: #121212 ;
  --foreground: #313131;
  --main: #FFFFFF;
  --muted: #999999;
  --line: #333;
}

@theme {
  --font-sans: 'Instrument Sans', sans-serif;
  --font-sora: 'Sora', sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --color-muted: var(--muted);
  --color-line: var(--line);
  --animate-blink: blink 0.8s infinite ease;
}

.send{
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blink {
  animation: var(--animate-blink);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html{
  @apply text-main font-sans scroll-smooth;
}

/* From Uiverse.io by zjssun */ 
#btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  text-shadow: none;
  cursor: pointer;
  box-shadow: transparent;
  transition: 0.5s ease;
  user-select: none;
}

#btn:hover {
  color: #ffffff;
  background: #1447e6;
  /* border: 1px solid #1447e6; */
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 2px #1447e6, 0 0 10px #1447e6, 0 0 10px #1447e6,
    0 0 100px #1447e6;
}